.video-grid  :hover{
  cursor: pointer;
  background-color: rgb(207, 206, 206);
  border-radius: 8px;
  transition: background-color 0.3s;
}
.thumbnail {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;

}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 585px) {
  .video-grid {
    grid-template-columns: 1fr ;
  }
}

@media (min-width: 585px) and (max-width: 940px) {
  .video-grid {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 941px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
