.Header_bottom {
    display: flex;
    flex-direction: row;
  top: 56px;
  left: 96px;
  position: fixed;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid rgb(230, 230, 230);
  align-items: center;
  justify-content: center;
    z-index: 100;
}
.Header_bottom div {
    background-color: rgb(238, 236, 236);
    padding: 5px 12px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.Header_bottom div:hover {
    cursor: pointer;
}