body {
  font-family: "Lato", sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;

}
.container {
  background-color: #fff;
  max-width: 784px;
  height: auto;

}
header {
  background: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #13124f;
}
.hero {
  background: #fff;
  padding: 25px;
  border-bottom: 1px solid #e0e0e0;
}
.hero-btn {
  background: #f61067;
  color: #fff;
  padding: 5px 8px;
  text-decoration: none;
  font-weight: 700;
}
.main-content {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 20px 0;
  flex-grow: 1;
}
.left-column {
  flex: 2;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left-title {
  font-size: 22px;
  margin-bottom: 15px;
}
.left-content p {
  margin-bottom: 15px;
  color: #9090a5;
}
.left-footer {
  padding: 5px 10px;
  border-top: 1px solid #e0e0e0;
  color: #9090a5;
}
.right-column {
  flex: 1;
  gap: 20px;
}
.Welcome {
  padding: 10px;
  flex-grow: 1;
}

.progress-bar {
  height: 5px;
  background: #2ad392;
  margin-bottom: 15px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background: #f61067;
  width: 65%;
}
.button-group {
  display: flex;
  gap: 10px;
}
.button-group button {
  flex: 1;
  padding: 8px 15px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}
footer {
  background: #13124f;
  color: #fff;
  padding: 10px 20px;
  margin-top: auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

@media (max-width: 480px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  .left-column,
  .right-column {
    flex: 1;
  }
  .logo {
    font-size: 20px;
  }
  .hero-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  .notification {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .button-group {
    flex-direction: column;
  }
}


@media (min-width: 481px) and (max-width: 1209px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  .left-column,
  .right-column {
    flex: 1;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .right_top {
  margin-left: 15px;

}
.Messege {
  margin-left: 15px;

}
.Input_greeting {
  width: 80%;
}
.Send {
  width: 80%;
}
.Input_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Idont {
width: calc(100% - 20px);

}
}

@media (min-width: 1210px) {
  .container {
    max-width: 784px;
  }
  .main-content {
    flex-direction: row;
  }
  .left-column {
    flex: 2;
  }
  .right-column {
    flex: 1;
  }
  
}
